<section role="main" id='bg' class='bg'></section>
<div class="weather-panel bg">
  <div class="small-12 columns">
    <h3>{{location}}</h3>
    <a {{action 'saveLocation' location}}>Save Location</a>
  </div>
</div>
<div class="weather-stript">
  <div class="current-details">
    <div class="temp-date">
      <div class="temp">
        {{weather.tempF}}
        &deg;
      </div>
      <div class="display-date">
        {{displayDate}}
      </div>
    </div>
    <div class="icon-wind">
      <div class="large-icon">
        {{icon-name weather.icon}}
      </div>
      <div class="text-center">
        {{weather.wind_degrees}}&deg;
        |
        {{weather.wind_gust_mph}}mph
      </div>
    </div>
  </div>
  {{weather-forecast days=days}}
</div>
