<div class="row">
  <colums class="small-12">
    <h1>The forecast for {{id}}</h1>
    <img {{bind-attr src=image}}>
    {{debugger}}
    <ul class='inline-list'>
      <li>weather: {{weather.weather}}</li>
      <li>temperatureString: {{weather.temperatureString}}</li>
      <li>icon: {{weather.icon}}</li>
      <li>iconUrl: <img {{bind-attr src=weather.iconUrl}}></li>
      <li>tempC: {{weather.tempC}}</li>
      <li>tempF: {{weather.tempF}}</li>
    </ul>
  </colums>
</div>
