<section role="main" id='bg' class='bg'></section>
<div class="weather-panel bg">
  <div class="small-12 columns">
    <h3>The forecast for {{location}}</h3>
    <ul class='inline-list'>
      <li>weather: {{weather.weather}}</li>
      <li>temperatureString: {{weather.temperatureString}}</li>
      <li>icon: {{weather.icon}}</li>
      <li>iconUrl: <img {{bind-attr src=weather.iconUrl}}></li>
      <li>tempC: {{weather.tempC}}</li>
      <li>tempF: {{weather.tempF}}</li>
    </ul>
    {{weather-forecast days=days}}
  </div>
</div>




