<section role="main" id='bg' class='bg'></section>
<div class="weather-panel bg">
  <div class="small-12 columns">
    <h3>{{location}}</h3>
  </div>
</div>
<div class="weather-stript">
  <div class="current-details">
    <div class="temp-date">
      <div class="temp">
        {{weather.tempF}}
        &deg;
      </div>
      <div class="display-date">
        {{displayDate}}
      </div>
    </div>
    <div class="icon-wind">
      <div class="large-icon">
        {{icon-name weather.icon}}
      </div>
      <div class="text-center">
        {{weather.wind_degrees}}&deg;
        |
        {{weather.wind_gust_mph}}mph 
      </div>
    </div>
  </div>
  {{!-- <ul class='inline-list'>
    <li>temperatureString: {{weather.temperatureString}}</li>
    <li>{{icon-name weather.icon}}</li>
    <li>tempC: {{weather.tempC}}</li>
    <li>tempF: {{weather.tempF}}</li>
    <li>wind dir: {{weather.wind_degrees}}</li>
    <li>wind spd: {{weather.wind_gust_mph}}</li>
  </ul> --}}
  {{weather-forecast days=days}}
</div>
