<h1>The forecast for {{id}}</h1>

cloudcover: {{cloudcover}}
humidity: {{humidity}}
observationTime: {{observationTime}}
precipMM: {{precipMM}}
pressure: {{pressure}}
tempC: {{tempC}}
tempF: {{tempF}}
weatherDesc: {{weatherDesc}}
visibility: {{visibility}}
weatherCode: {{weatherCode}}
winddir16Point: {{winddir16Point}}
winddirDegree: {{winddirDegree}}
windspeedKmph: {{windspeedKmph}}
windspeedMiles: {{windspeedMiles}}


